<a href="/">Voltar</a>
<h1>{{user.name}}</h1>
<p>{{user.occupation}}</p>
<div class="item">
    <div>
        <strong>Data de cadastro:</strong>
        <p>{{user.createdAt}}</p>
    </div>
    <div>
        <strong>Ultima Alteração:</strong>
        <p>{{user.updatedAt}}</p>
    </div>
</div>